{{> header }}
{{> navar }}

    <div class="row">
        <div class="col-8">
            <h1>Mi primer pagina</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit minus dolorum est tempore similique, pariatur, soluta voluptates expedita inventore repellendus molestias iste amet quaerat architecto tempora accusamus ex optio eaque!

            </p>
        </div>

        <div class="col-4">
            <img src="/assets/img/chevelle_70.jpg" clas="img-thumbnail">
        </div>


    </div>

{{> footer }}